<!DOCTYPE html>
<html lang="en">
<body>
    <h1>Come Design Your Dream Vacation</h1>
    <form action="." method="POST">
    What City Will You Be Visiting? <input type="text" name="city" size=25 value="Los Angeles, CA" />
    What Do You Want to Do During the Day? 
    <select name="day">
        <option selected>museum</option>
        <option>hiking</option>
        <option>park</option>
        <option>stadium</option>
        <option>shopping</option>
        <option>landmark</option>
        <option>amusement park</option>
    </select>
    <br />
    What Do You Want to Do During the Afternoon?
    <select name="afternoon">
        <option selected>museum</option>
        <option>hiking</option>
        <option>park</option>
        <option>stadium</option>
        <option>shopping</option>
        <option>landmark</option>
        <option>amusement park</option>
    </select>
    <br />
    <p>Brunch? <input type="checkbox" name="brunch" /></p>
    <p>How Many Nights? <input type="radio" name="nights" value="0" checked />0 <input type="radio" name="nights" value="1" />1 <input type="radio" name="nights" value="2" />2</p>
    <input type="submit" name="my-form" value="Click Here to Submit" /> <input type="reset" value="Reset All Fields" />
    </form>
</body>
</html>