<!DOCTYPE html>
<html lang="en">
<body>
    <h1>Come Design Your Dream Vacation</h1>
    <form action="." method="POST">
    What City Will You Be Visiting? <input type="text" name="city" size=25 value="Los Angeles, CA" />
    What Do You Want to Do During the Day? 
    <select name="day">
        <option selected>museum</option>
        <option>hiking</option>
        <option>park</option>
        <option>stadium</option>
        <option>shopping</option>
        <option>landmark</option>
        <option>amusement park</option>
    </select>
    <br />
    What Do You Want to Do During the Afternoon?
    <select name="afternoon">
        <option selected>museum</option>
        <option>hiking</option>
        <option>park</option>
        <option>stadium</option>
        <option>shopping</option>
        <option>landmark</option>
        <option>amusement park</option>
    </select>
    <input type="submit" name="my-form" value="Click Here to Submit">
    </form>
</body>
</html>